/* Layout */
html {
    background: url(bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    margin: 0; 
    padding: 0;
}

body, #container { height: 100%; margin: 0; padding: 0; }
body > #container { height: auto; min-height: 100%; }
#content { padding-bottom: 3em; }

#footer { 
    clear: both; 
    position: relative; 
    //z-index: 10; 
    height: 3em; 
    margin-top: -3em;
    background-color: black;
    opacity: 0.8;
}

/* Theme */
body { font: .75em/normal "Lucida Sans", "Lucida Grande", sans-serif; }

p { margin-bottom: 1em; }

#stats { 
    background: black;
    opacity: 0.6;
    //padding: 20px;
    position: fixed;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    border-style:solid;
    border-width:thick;
    border-color: gainsboro;
    border-radius: 45px;
    width: 15%;
}

.statsText {
    color: white;
    text-decoration:none;
    text-align:center;
    z: 10;
    //padding: 5px 15px 5px 15px;
    line-height: 1.0;
}

#about { 
    background: black;
    opacity: 0.6;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style:solid;
    border-width:thick;
    border-color: gainsboro;
    border-radius: 45px;
    width: 40%;
      -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.aboutText {
    color: white;
    text-decoration:none;
    text-align:center;
    z: 10;
    padding: 5px 15px 5px 15px;
    //transform: scale(10);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 20pt;
    //height: 50%;
    //width: 90%;
}

.aboutText:hover { 
    transform: scale(1.3);
    -webkit-filter: blur(5px);
}

#about:hover {
    //transition: all .9s ease-in-out;
    opacity: 0.9;
    padding: 100px;
}

#footer { 
    background-color: black; 
    color: white; 
    font-size: 200%; 
    text-align: center; 
    line-height: 3em; 
}

.footerLink {
    color: white;
    text-decoration:none;
    text-align:center;
    z: 10;
    padding: 5px 15px 5px 15px;
}


